@font-face {
    font-family: 'Moniqa Cond Display';
    src: url('./fonts/Moniqa-CondensedDisplay.woff2') format('woff2'),
    url('./fonts/Moniqa-CondensedDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moniqa Med Paragraph';
    src: url('./fonts/Moniqa-MediumParagraph.woff2') format('woff2'),
    url('./fonts/Moniqa-MediumParagraph.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

